@page "/Tickets"

<h3>Zgłoszenia serwisowe</h3>

<!-- Lista zgłoszeń serwisowych -->
@if (tickets != null && tickets.Any())
{
	<table class="table">
		<thead>
			<tr>
				<th>Imię klienta</th>
				<th>Nazwa urządzenia</th>
				<th>Opis zgłoszenia</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var ticket in tickets)
			{
				<tr>
					<td>@ticket.ClientName</td>
					<td>@ticket.Device</td>
					<td>@ticket.Description</td>
					<td>@ticket.Status</td>
					<td>
						<!-- Możliwość dodania przycisku do edycji lub usunięcia zgłoszenia -->
						<button class="btn btn-primary" @onclick='() => ChangeStatus(ticket,"W trakcie")'>W trakcie</button>
						<button class="btn btn-danger" @onclick='() => ChangeStatus(ticket,"Zakończone")'>Zakończone</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p>Brak zgłoszeń serwisowych.</p>
}

@code {
	private List<Ticket> tickets = new List<Ticket>(); // Lista zgłoszeń serwisowych
	protected override void OnInitialized() // Metoda wywoływana podczas inicjalizacji
	{
		// Inicjalizacja listy zgłoszeń serwisowych
		tickets = TicketService.GetTickets(); // Pobieramy zgłoszenia z TicketService
	}
	private void ChangeStatus(Ticket ticket, string status)
	{
		ticket.Status = status; // Zmiana statusu zgłoszenia
		StateHasChanged(); // Odświeżenie komponentu, aby zmiany były widoczne
	}

}