:root {
    --background-color: #121212;
    --text-color: #E0E0E0;
    --primary-color: #FF5722; /*pomarañczowy*/
    --secondary-color: #4CAF50; /*zielony*/
    --button-bg: var(--primary-color);
    --button-hover-bg: #E34210;
    --card-bg: #1E1E1E;
    --border-color: #333333;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

/*przyciski*/

.btn-primary {
    background-color: var(--button-bg);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-primary:hover{
    background-color: var(--button-hover-bg);
}

.btn-secondary {
    background-color: #4CAF50;
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

    .btn-secondary:hover {
        background-color: #3B8A3E;
    }

/*karty*/
.ticket-card {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/*linki*/
.nav-link {
    color: var(--text-color);
    padding: 10px 15px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.nav-link:active, .nav-link:hover {
    font-weight: bold;
    color: var(--primary-color);
}

.nav_sidebar_dark {
    background-color: var(--sidebar-color);
    height: 100vh;
    width: auto;
    padding-top: 1rem;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    font-size: 1.6rem;
    font-weight: bold;
    color: #ffffff !important;
    padding-left: 0.5rem;
    font-family: 'Segoe UI', sans-serif;
}

.navbar-brand:hover {
    color: #00bcd4 !important;
}

.top-row.navbar { /* kolor t³a nazwy aplikacji*/
    background: #1E1E2F; 
    border-bottom: 1px solid #333;
}

/*Formularze*/
input, textarea {
    background-color: #2A2A2A;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 0.5rem;
}
input:focus, textarea:focus {
    border-color: var(--primary-color);
    outline: none;
}

/*tabele*/ /*sekcja home.razor*/
.ticket-table {
    width: 100%;
    border-collapse: collapse;
    transform: scale(1);
    transform-origin: top left;
    transition: transform 0.3s ease-in-out;
}
.ticket-table td {
    /*  border: 1px solid var(--border-color); */
    padding: 15px;
}
    .ticket-table th {
        background-color: var(--primary-color);
        color: var(--text-color);
        padding: 0.5rem;
        text-align: left;
    }
.ticket-table button{
    margin-left: 30px;
    height: 70%;
    padding: 10px;
}

.acction {
    margin-top: 0;
    width: 100%;
    transform: scale(1);
    transform-origin: top left;
    transition: transform 0.3s ease-in-out;
}

.acction button {
    margin-right: 2rem;
}

@media (max-width: 880px) {
    .ticket-table {
        transform: scale(0.9);
        transform-origin: top left;
    }
    .acction {
        transform: scale(0.9);
        transform-origin: top left;
    }
}


@media (max-width: 780px) {
    .ticket-table {
        transform: scale(0.7);
        transform-origin: top left;
    }
    .acction {
        transform: scale(0.7);
        transform-origin: top left;
    }
}

@media (max-width: 640px) {
    .ticket-table {
        transform: scale(0.8);
        transform-origin: top left;
    }
    .acction {
        transform: scale(0.8); 
        transform-origin: top left;
    }
}
/* Strefa pliku addTicket.razor */

.editForm {
    margin: auto;
    width: 80%;
}
.add-ticket-container {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 1rem;
    margin-top:auto;
    margin-bottom: 1rem;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.5);
    font-weight:bold;
}
.add-ticket-container label, button{
    margin-top:20px;
}
    .add-ticket-container h3 {
        width: 80%;
        margin: auto;
    }

/* Strefa pliku TicketList.razor */

.container-ticket-list {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 1rem;
    margin-top: auto;
    margin-bottom: 1rem;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    width: 100%;
    color: var(--text-color);
    /* do responsywnoœci */
    transform: scale(1);
    transform-origin: top left;
    transition: transform 0.3s ease-in-out;
}
.list-table {
    width:100%;
    border-collapse: collapse;
    transform: scale(1);
    transform-origin: top left;
    transition: transform 0.3s ease-in-out;
}
    .list-table td {
        border-bottom: 2px solid var(--border-color);
        border-top: 2px solid var(--border-color);
        width:20%;
        margin-left:5px;
    }
    .list-table select {
        background-color: #1e1e1e;
        color: #ffffff;
        border: 1px solid #444;
        border-radius: 5px;
        padding: 8px 12px;
        font-size: 14px;
    }
    .list-table button {
        width:95%;
        margin-bottom: 10px;
    }

@media (max-width: 1000px) {
    .container-ticket-list {
        transform: scale(0.9);
        transform-origin: top left;
    }
}


@media (max-width: 880px) {
    .container-ticket-list {
        transform: scale(0.7);
        transform-origin: top left;
    }
}

@media (max-width: 640px) {
    .container-ticket-list {
        transform: scale(1);
        transform-origin: top left;
    }
    .list-table{
        transform:scale(0.7);
        transform-origin:top left;
    }
}


